@page
@model LionCbdShop.AdminRazorPages.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "Orders";
}

@if (Model.Orders.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order number</th>
                <th scope="col">Creation date</th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <th scope="row">@order.OrderNumber</th>
                    <td>@order.CreationDate</td>
                    <td>@order.Status</td>
                    <td><a asp-page="/Orders/Details" asp-route-id="@order.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="p-3 mb-2 bg-light text-dark text-center">
        <h3>No orders yet</h3>
    </div>
}
